{% extends 'Base/base.html' %} 
{% block title %} Create Account - {{ setting.title }} {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="reg_form_wrap login_form" data-background="{% static 'assets/images/reg_bg_01.png' %}">
        <form action="" method="post">
            {% csrf_token %}
            <div class="reg_form">
                <h2 class="form_title text-uppercase text-center">Create Account</h2>
                <div class="form_item">
                    <input id="username" type="text" name="username" placeholder="username">
                    <label for="username_input"><i class="fal fa-user"></i></label>
                </div>
                <div class="form_item">
                    <input id="email" type="text" name="email" placeholder="email">
                    <label for="username_input"><i class="fal fa-envelope"></i></label>
                </div>
                <div class="form_item">
                    <input id="password1" type="text" name="password1" placeholder="password">
                    <label for="password_input"><i class="fal fa-unlock-alt"></i></label>
                </div>
                <div class="form_item">
                    <input id="password2" type="password" name="password2" placeholder=" password">
                    <label for="password_input"><i class="fal fa-unlock-alt"></i></label>
                </div>
                <button type="submit" class="custom_btn bg_default_red text-uppercase mb_50">Sign Up</button>

                <div class="social_wrap mb_100">
                    <h4 class="small_title_text mb_15 text-center text-uppercase">Or Signup With</h4>
                    <ul class="circle_social_links ul_li_center clearfix">
                        <li><a data-bg-color="#3b5998" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a data-bg-color="#1da1f2" href="#!"><i class="fab fa-twitter"></i></a></li>
                        <li><a data-bg-color="#ea4335" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>

                <div class="create_account text-center">
                    <h4 class="small_title_text text-center text-uppercase">Have an account?</h4>
                    <a class="create_account_btn text-uppercase" href="/login">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}