{% load static %}
      <!--MiniCart Drawer-->
      <div class="minicart-right-drawer modal right fade" id="minicart-drawer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="cart-drawer" class="block block-cart">
                    <div class="minicart-header">
                        <a href="javascript:void(0);" class="close-cart" data-bs-dismiss="modal"
                            aria-label="Close"><i class="an an-times-r" aria-hidden="true"
                                data-bs-toggle="tooltip" data-bs-placement="left" title="Close"></i></a>
                        <h4 class="fs-6 text-black">Your cart (2 Items)</h4>
                    </div>
                    <div class="minicart-content">
                        <ul class="clearfix" id="cart">
                            
                         
                        </ul>
                    </div>
                    <div class="minicart-bottom text-black">
                        
                        <div class="subtotal">
                            <span>Total:</span>
                            <span class="product-price" id="subtotal"></span>
                        </div>
                        <a href="/order/checkout"
                            class="w-100 p-2 my-2 btn btn-primary proceed-to-checkout">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
if(localStorage.getItem('cart'))
    {
        
        cart_data = JSON.parse(localStorage.getItem('cart'));
        let id = cart_data['product_id']
        let quantity = cart_data['quantity']
        let xmlhttp;
        xmlhttp = new XMLHttpRequest();
        xmlhttp.open('GET',`{{ setting.url }}/cart/?id=${id}&quantity=${quantity}`, true);
        xmlhttp.send();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.status == 200 && xmlhttp.readyState == 4) {
                let response_data = JSON.parse(xmlhttp.response);
                console.log('data ========>',response_data)


                
                document.getElementById("subtotal").innerHTML  = `₹${response_data["total"]}`;
                
                let cart_data = response_data["data"];
                for(let i=0;i<=cart_data.length;i++)
                {
                  
                    document.getElementById("cart").innerHTML=`
<li class="item d-flex justify-content-center align-items-center">
                                <a class="product-image" href="product-layout1.html">
                                    <img class="blur-up lazyload"
                                        src="${response_data["data"][i]["image"]}"
                                        data-src="${response_data["data"][i]["image"]}" alt="${response_data["data"][i]["name"]}"
                                        title="">
                                </a>
                                <div class="product-details">
                                    <a class="product-title" href="product-layout1.html">${response_data["data"][i]["name"]}</a>
                                    <div class="variant-cart mb-1">${response_data["data"][i]["color"]}</div>
                                    <div class="priceRow">
                                        <div class="product-price">
                                            <span class="money">₹${response_data["data"][i]["price"]}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="qtyDetail text-center">
                                    <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <!-- <a class="qtyBtn minus" href="javascript:void(0);"><i
                                                    class="icon an an-minus-r" aria-hidden="true"></i></a> -->
                                            <input type="text" name="quantity" disabled value="1" class="qty rounded-0">
                                            <!-- <a class="qtyBtn plus" href="javascript:void(0);"><i
                                                    class="icon an an-plus-l" aria-hidden="true"></i></a> -->
                                        </div>
                                    </div>
                                    <!-- <a href="#" class="edit-i remove"><i class="icon an an-edit-l"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Edit"></i></a> -->
                                    <a href="#" class="remove"><i class="an an-times-r" data-bs-toggle="tooltip"
                                            data-bs-placement="top" onclick="clearCart()" title="Remove"></i></a>
                                </div>
                            </li>
                    `
                }
                
            }

        }
    
    }
    function clearCart()
    {
        if(localStorage.getItem('cart'))
        {
            localStorage.removeItem('cart');
            location.reload();
        }
    }
</script>

  
    <!--End MiniCart Drawer-->