<section class="newsletter_section ecommerce_newsletter sec_ptb_100 clearfix">
    <div class="container">
        <div class="form_wrap text-center">
            <form action="#">
                <h2>Start of Summer Up to 35% off on all items</h2>
                <div class="form_item">
                    <input type="email" name="email" placeholder="Your email address">
                    <button type="submit" class="bg_black">Subcribe</button>
                </div>
                <p class="mb-0">
                    Sign up to our Newsletter and get the discount code
                </p>
            </form>
        </div>
    </div>
</section>